@import url('https://fonts.googleapis.com/css2?family=Princess+Sofia&display=swap');

.App {
  text-align: center;
}

h1{
  font-family: 'Princess Sofia', cursive;
  letter-spacing: 1.1rem;
  font-size: 40px;
  color: whitesmoke;
}

